:root {
    --purple:rgb(99, 30, 184);
    --white: #fff;
    --dark: #1b1b1b;
  }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
	z-index: 0;
	scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

body {
	background-color: #1b1b1b;
	font-size: 30px;
}

.section__header {
	margin: auto;
	text-align: center;
	letter-spacing: 3px;

  }
  
.hamburger-desktop {
	display: none;
	position: fixed;
	display: none;
  }
  
  #sideNav {
	width: 250px;
	height: 100vh;
	position: fixed;
	right: -250px;
	top: 0;
	z-index: 2;
	transition: 0.5s;
	background-color: aliceblue;
  }
  
  #sideNav li:hover {
	transition: all 0.5s ease;

  }
  
  nav ul li, nav ul li a {
	text-decoration: none;
	font-size: 1.5empx;
	padding: 10px;
	text-transform: uppercase;
	position: relative;
	padding: 10px 20px;
	text-decoration: none;
	list-style: none;
    color: #1b1b1b;
  }
  
  nav ul li, nav ul li a:hover {
	cursor: pointer;
  }
  
  nav ul li, nav ul li a,
  nav ul li::after, nav ul li a::after,
  nav ul li::before, nav ul li a::before {
	transition: 0.3s;
  }
  
  nav ul li::after, nav ul li a::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 3px;
	width: 100%;
	transition: transform 0.3s;
	transform: scaleX(0);
	transform-origin: left;
  }
  
  nav ul li:hover::after, nav ul li a:hover::after {
	transform: scaleX(1);
	transform-origin: right;
  }
  a.nav__link:hover{
	color: var(--purple);
  }
  
  #menubtn {
	width: 50px;
	height: 50px;
	position: fixed;
	right: 10px;
	top: 20px;
	border-radius: 3px;

	cursor: pointer;
  }
  
  #menubtn img {
	width: 40px;
	height: 40px;
	padding-right: 10px;
	background-color: transparent;
	transition: opacity .6s ease;
  }

#menubtn img:hover{
	opacity: 0.5;
}


#canvas {
	padding-top: 200px;
    z-index: -9999;
    opacity: 0.6;
	position: fixed;

}

header{
	height: 70vh;
	padding: 30px 70px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

header h1{
	font-size: 3em;
}

header p{
	font-size: 2em;
}

#contactinfo{
    text-align: center;
    align-items: center;
	margin-top: 10px;
}

#contactinfo .container{
    padding-top: 10px;
    display:flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#contactinfo .container #github{
    padding: 50px;
}
#contactinfo .container #github a{
    color: var(--dark);
    text-decoration: none;
}

#contactinfo .container #github a:hover{
    color: var(--purple);
    transition: color 0.5s ease;
}
#contactinfo .container #github img{
    width: 100px;
    height: 100px;
}
#contactinfo .container #mail{
    padding: 50px;
}
#contactinfo .container #mail a{
    color: var(--dark);
    text-decoration: none;
}

#contactinfo .container #mail a:hover{
    color: var(--purple);
    transition: color 0.5s ease;
}
#contactinfo .container #mail img{
    width: 100px;
    height: 100px;
}

#contactinfo .container #linkedin{
    padding: 50px;
}
#contactinfo .container #linkedin a{
    color: var(--dark);
    text-decoration: none;
}

#contactinfo .container #linkedin a:hover{
    color: var(--purple);
    transition: color 0.5s ease;
}

#contactinfo .container #linkedin img{
    width: 100px;
    height: 100px;
}
#contact{
	overflow: hidden;
	display: flex;
	padding: 50px;
	text-align: center;
	flex-direction: row;
  }
  
  form{
	width: 640px;
	margin: 50px auto;
	border-radius: 4px;
	padding: 55px 30px;
  }
  
  form .title h2{
	letter-spacing: 6px;
	border-bottom: 1px solid black;
	display: inline-block;
	padding-bottom: 8px;
	margin-bottom: 32px;
  }
  
  form .half{
  
	display: flex;
	justify-content: center;
  }
  form .half2{
	display: flex;
	justify-content: center;
  }
  
  form .half .item, form .half2 .item{
	padding-right: 10px;
	padding-left: 10px;
	display: flex;
	flex-direction: column;
	margin-bottom: 24px;
	width: 48%;
  }
  
  form label{
	display: block;
	font-size: 13px;
	letter-spacing: 3.5px;
	margin-bottom: 16px;
  }
  
  form .half .item input, form .half2 .item input{
	border-radius: 4px;
	border: 1px solid rgb(0, 0, 0);
	outline: 0;
	padding: 16px;
	width: 100%;
	height: 44px;
	font-size: 17px;
  }
  
  form .full{
	margin-bottom: 24px;
  }
  
  form .full textarea{
	border-radius: 4px;
	border: 1px solid rgb(0, 0, 0);
	outline: 0;
	padding: 12px 16px;
	width: 100%;
	height: 200px;
	font-size: 17px;
  }
  
  form .action{
	margin-bottom: 32px;
  }
  
  form .action input{
	background: transparent;
	border-radius: 4px;
	border: 1px solid rgb(0, 0, 0);
	cursor: pointer;
	font-size: 13px;
	font-weight: 600;
	height: 44px;
	letter-spacing: 3px;
	outline: 0;
	padding: 0 20px 0 22px;
	margin-right: 10px;
  }
  
  form .icons a{
	border: 1px solid white;
	border-radius: 50%;
	line-height: 36px;
	text-align: center;
	font-weight: 600;
	width: 38px;
	margin-right: 10px;
  }


  button.slice{
	box-sizing: border-box;
    position: relative;
    padding: 10px 20px;
    background: none;
    border: 0.5px  --dark;
    border-radius: 4px;
    color: var(--dark);
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
    overflow:hidden; 
}

button.slice::before, 
button.slice::after{
    width: 100%;
    height: 100%;
    background-color: var(--purple);
}

button.slice::before{
    top: -50%;
    left: -100%;
}


button.slice::after{
    bottom: -50%;
    right:-100%;
}

button.slice:hover::before{
    left: 0;
}
button.slice:hover::after{
    right: 0;
}

button.slice:hover{
    border-color: var(--purple);
    color: #333;
}





  
  

footer{
	padding: 110px;
	height: 10vh;
	text-align: center;
  }
  
  footer.footer a {
	color: var(--purple);
	text-decoration: NONE;
	transition: opacity 0.3s ease;
  }
  
  footer.footer a:hover {
	opacity: 50%;
  }


@media(max-width:997px){
	nav.nav.nav-desktop {
		display: none;
	  }
	canvas{
		width: 100vh;
	}
	.lightbox {
		margin: 30px;
		padding: 30px;
	  }
	  .row{
		padding: 30px 40px;
	  }
	  #services > .row{
		display: none;
	  }


}
@media(min-width:997px){
	.nav {
		grid-column: 1/2;
		grid-row: 1/2;
		padding: 1em;
	  }
	  .nav-desktop {
		display: block;
		color: var(--purple);
	  }
	  .nav__link {
		color: var(--dark);
		text-decoration: none;
		font-size: 20px;
		padding: 10px;
		text-transform: uppercase;
		position: relative;
		padding: 10px 20px;
		text-decoration: none;
	  }
	  .nav__link:hover {
		cursor: pointer;
	  }
	  .nav .link,
	.nav .link::after,
	.nav .link::before {
		transition: 0.3s;
	  }
	  .nav__link::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		height: 3px;
		width: 100%;
		background-color: var(--purple);
		transition: transform 0.3s;
		transform: scaleX(0);
		transform-origin: left;
	  }
	  .nav__link:hover::after {
		transform: scaleX(1);
		transform-origin: right;
	  }
}